.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.vscode/

.idea/
*.iml
local.properties

captures/
.externalNativeBuild/
.cxx/

.kotlin/

analysis/
.tools/
docs/
hbcap/

keystore/
keystore.properties
*.jks
*.keystore

*.hprof
.DS_Store
Thumbs.db
.zcode/
.opensuilla/

.LCK*
*~
.#*
*.swp
*.swo
*.bak

dist/
scripts/

.poc/
